body {
    background: white;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: #7c7a7a62;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: top 0.3s;
}

.logo {
    max-width: 80px;
    margin: 0 auto;
    display: block;
}

.navbar {
    justify-content: center;
}

.nav-link {
    margin: 0 15px;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    background-color: #e9bf4c;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-link:hover {
    background-color: #e9bf4c;
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.section {
    padding: 60px 0;
}

.section h2 {
    margin-bottom: 20px;
    color: #f3c300;
}

.section p {
    margin-bottom: 15px;
    color: #000000;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}

.card-img-top {
    max-height: 150px;
    object-fit: cover;
}

.card {
    height: 100%;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade.in {
    opacity: 1;
}

@media (max-width: 768px) {
    .hero {
        padding: 60px 0;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.reserve-analysis,
.current-projects,
.additional-services {
    display: flex;
    align-items: center;
}

.additional-services .card {
    margin: 0 auto;
}
